.husky
.vscode/*
.git/
api/api/config/jwt/public.pem
api/api/config/jwt/private.pem
api/.env
api/var/
api/vendor/

vea/node_modules
vea/.DS_Store
vea/dist
vea/dist-ssr
vea/*.local
vea/.history

# Editor directories and files
vea/.idea
vea/*.suo
vea/*.ntvs*
vea/*.njsproj
vea/*.sln
vea/*.local
vea/package-lock.json
vea/pnpm-lock.yaml
vea/pnpm-workspace.yaml
vea/stats.html
vea/public/
.idea/
vea/src/.editorconfig
